body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


.counters{
	gap: 160px;
}

.counters-number{
	font-size: 90px;
}

.counters-text{
	font-size: 30px;
}